<!--The content below is only a placeholder and can be replaced.-->
<div class = "row centered main-title">
  <div class = "col">
      <h1>
          {{ title }}
        </h1>
  </div>
</div>
  

<app-exchanger></app-exchanger>

