<div class="container">
  <div class = "row ">
    <div class = "col">
      <div class="input-group mb-3">
        
        <input type="number" class="form-control" placeholder="USD" [(ngModel)]="usdValue" 
        placeholder="USD" (keyup.enter) = "onEnter(usdValue)">
        <div class="input-group-append">
          <span class="input-group-text">$</span>
        </div>
      </div>
    </div>
    
    <div class = "col">
      <div class="input-group mb-3" >
        
        <input type="text" class="form-control" placeholder="EU"
        disabled [value]="calculate()">
        <div class="input-group-append">
          <span class="input-group-text">€</span>
        </div>
      </div>
      
      
    </div>
    
  </div>
  
  <!-- Row -->
  <div class = "row">
    <div class = "col"></div>
    
    <div class = "col text-center">
      <button type="button" class="btn btn-primary btn-lg">Calculate</button>
    </div>

    <div class = "col"></div>
  </div>
  
</div>
